html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

@keyframes vibrate {
  0% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  100% { transform: translateX(-3px); }
}


button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  animation: vibrate 0.1s infinite;
}

button:hover {
  animation: none;
  background-color: green;
}


@keyframes underline {
  from { width: 0; }
  to { width: 100%; }
}

a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: green;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

a:hover {
  color: green;
}

a:hover::after {
  width: 100%;
}

.ball-container {
  position: relative;
  height: 400px;
  width: 100px;
  margin: 50px auto;
  overflow: hidden;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: rgb(249, 25, 0);
  border-radius: 50%;
  position: absolute;
  animation: bounce 2s forwards;
}

@keyframes bounce {
  0% {
      top: 0;
      transform: scale(1, 1);
      animation-timing-function: ease-in;
  }
  30% {
      top: 350px;
      transform: scale(1, 0.8);
      animation-timing-function: ease-out;
  }
  31% {
      top: 355px;
      transform: scale(0.8, 1.1);
  }
  50% {
      top: 200px;
      transform: scale(1, 1);
      animation-timing-function: ease-out;
  }
  73% {
      top: 350px;
      transform: scale(1, 0.8);
      animation-timing-function: ease-in;
  }
  75% {
      top: 351px;
      transform: scale(1, 1);
  }
  100% {
      top: 350px;
      transform: scale(1, 1);
      animation-timing-function: ease-out;
  }
}